Keras==1.0.5
joblib==0.10.0
numpy==1.11.1
PyYAML==3.11
scikit-learn==0.17.1
scipy==0.17.1
git+git://github.com/farizrahman4u/seq2seq@123a2cfe9e5c4db41856eaff573b9d08cdb534dc#egg=seq2seq
six==1.10.0
Theano==0.8.2
